@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --light: gray;
    --success: #2dd36f;
    --warning: #ffc409;
    --failure: #eb445a;
    --plain: #fff;
}

.theme-default {
    --primary: #164863;
    --secondary: #427d9d;
    --tertiary: #9bbec8;
    --quaternary: #ddf2fd;
}

.theme-retro {
    --primary: #ff8225;
    --secondary: #b43f3f;
    --tertiary: #173b45;
    --quaternary: #f8eded;
}

.theme-ultra-violet {
    --primary: #201e43;
    --secondary: #134b70;
    --tertiary: #508c9b;
    --quaternary: #eeeeee;
}

.theme-forest {
    --primary: #1A5319;
    --secondary: #508D4E;
    --tertiary: #80AF81;
    --quaternary: #D6EFD8;
}
