@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --light: gray;
    --success: #2dd36f;
    --warning: #ffc409;
    --failure: #eb445a;
    --plain: #fff;
}

.theme-default {
    --primary: #164863;
    --secondary: #427d9d;
    --tertiary: #9bbec8;
    --quaternary: #fff;
}

.theme-retro {
    --primary: #ff8225;
    --secondary: #b43f3f;
    --tertiary: #173b45;
    --quaternary: #f8eded;
}

.theme-ultra-violet {
    --primary: #201e43;
    --secondary: #134b70;
    --tertiary: #508c9b;
    --quaternary: #eeeeee;
}

.theme-forest {
    --primary: #1a5319;
    --secondary: #508d4e;
    --tertiary: #80af81;
    --quaternary: #d6efd8;
}

.theme-army {
    --primary: #1a3636;
    --secondary: #40534c;
    --tertiary: #677d6a;
    --quaternary: #d6bd98;
}

.theme-github {
    --primary: #2fbb4f;
    --secondary: #0d74e7;
    --tertiary: #24292d;
    --quaternary: #2b3137;
}

.theme-github p,
.theme-github input,
.theme-github select,
.theme-github textarea,
.theme-github span,
.theme-github label,
.theme-github a,
.theme-github h1,
.theme-github h2,
.theme-github h3,
.theme-github h4,
.theme-github h5,
.theme-github h6 {
    color: #ffffff !important;
}
    

input::placeholder {
    @apply text-tertiary
}